<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
        <debug autoflush="true" indentsize="6">
         <listeners>
         </listeners>
        </debug>
        <trace autoflush="true" indentsize="6">
          <listeners>
          </listeners>
        </trace>
  </system.diagnostics>
</configuration>